<section class="newsletter-prompt">
	<header>
		<h2>{{ 'general.newsletter.title' | t }}</h2>
		<p>
			{{ 'general.newsletter.headline' | t }}<br>{{ 'general.newsletter.offer' | t }}
		</p>
	</header>
	<main>
		<form name="newsletter">
			<input type="email" name="email" placeholder="{{ 'general.newsletter.placeholder' | t }}" aria-label="{{ 'general.newsletter.placeholder' | t }}">
			<input type="submit" class="btn" value="{{ 'general.newsletter.submit' | t }}">
		</form>
	</main>
</section>
