<section class="newsletter-prompt">
	<header>
		<h2>{{ 'general.newsletter.title' | t }}</h2>
		<p>
			{{ 'general.newsletter.headline' | t }}<br>{{ 'general.newsletter.offer' | t }}
		</p>
	</header>
	<main>
		<form name="newsletter" class="oneline-form">
			<label><span class="visuallyhidden">{{ 'general.newsletter.placeholder' | t }}</span>
				<input type="email" name="email" placeholder="{{ 'general.newsletter.placeholder' | t }}">
			</label>
			<button type="submit" class="btn">{{ 'general.newsletter.submit' | t }}</button>
		</form>
	</main>
</section>
