<main id="cart-main" class="template-main single-column">
	<h1>{{ 'cart.general.title' | t }}</h1>
	{% if cart.item_count > 0 %}
	<form id="cart-update-form" action="/cart" method="POST" novalidate>
		{% for item in cart.items %}
		<article>
			<p>
				<span class="image">{{ item | img_url: '240x240' | img_tag: item.title }}</span>
				<span class="title"><a href="{{ item.url | within: collections.all }}">{{ item.product.title }}{% unless item.product.has_only_default_variant %} <small>({{ item.variant.title }})</small>{% endunless %}</a><span class="price">{{ item.price | money }}</span></span>
				<span class="quantity label"><label for="updates_{{ item.key }}">{{ 'cart.label.quantity' | t }}</label> <input class="cart__quantity-selector" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" type="number"></span>
				<span class="price label"><strong>{{ 'cart.label.price' | t }}</strong> {% if item.original_line_price != item.line_price %}{{ item.price | money }}<small>{{ item.original_price | money }}</small>{% else %}{{ item.price | money }}{% endif %}</span>
				<span class="remove"><a href="/cart/change?line={{ forloop.index }}&quantity=0">{{ 'cart.general.remove' | t }}</a></span>
			</p>
		</article>
		{% endfor %}
		<p id="cart-totals">
			<span class="price label"><strong>{{ 'cart.general.subtotal' | t }}</strong> {{ cart.total_price | money }}{% if cart.total_discounts > 0 %}<small>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}{% endif %}</span>
		</p>
		<section id="cart-bottom">
			<div class="notes">
				{% if settings.cart_notes_enable %}
				<label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
				<textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
				{% endif %}
			</div>
			<div class="buttons">
				<input type="submit" name="update" class="btn" value="{{ 'cart.general.update' | t }}">
				<input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
			</div>
		</section>
	</form>
	{% else %}<!-- empty cart -->
  <div class="has-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>
  <div class="no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
	{% endif %}
</main>
