<main id="collection-main" class="template-main single-column">
	<main>
		<h1>{{ page_title }}</h1>
		<ul class="image-grid">
			{% for collection in collections %}{% unless collection.handle == 'frontpage' or collection.image == blank %}
			<li>
				<a class="image-link" href="{{ collection.url }}">
					{{ collection.image | img_url: '480x480' | img_tag: }}
				</a>
				<h3><a href="{{ collection.url }}">{{ collection.title }}</a></h3>
			</li>
			{% endunless %}{% endfor %}
		</ul>
	</main>
</main>
