<section id="home-slideshow" class="slideshow">
	{% if section.settings.title != blank %}<h2 class="visuallyhidden">{{ section.settings.title | escape }}</h2>{% endif %}
	<ul class="slides">
		{% for block in section.blocks limit: section.blocks.size %}
    {%- assign collection = collections[block.settings.collection] -%}
    {%- assign page = collections[block.settings.page] -%}
    {%- assign image = collections[block.settings.image] -%}
		<li {{ block.shopify_attributes }}>
			{% unless image != blank %}
				{% if collection and collection.image != blank %}
				{%- assign image = collection.image -%}
				{% else %}
				{%- assign image = collection.products.first -%}
				{% endif %}
			{% endunless %}
			{% if image != blank %}{{ image | img_url: '4000x' | img_tag: block.settings.callout_title }}{% endif %}
			<aside>
				<h3>{{ block.settings.callout_title }}</h3>
				<p>{{ block.settings.callout_headline }}</p>
				<a href="{% if collection != blank %}{{ collection.url }}{% elsif page != blank %}{{ page.url }}{% endif %}" class="btn">Shop now</a>
			</aside>
		</li>
		{% endfor %}
	</ul>
	{% if section.blocks.size == 0 %}
		{% include 'no-blocks' %}
	{% endif %}
</section>
{% schema %}
  {
    "name": "Home Callouts",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
				"limit": 5,
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
					},{
            "label": "Page",
            "id": "page",
            "type": "page"
					},{
            "label": "Image",
            "id": "image",
            "type": "image_picker"
					},{
            "label": "Callout Title",
            "id": "callout_title",
            "type": "text"
					},{
            "label": "Callout Headline",
            "id": "callout_headline",
            "type": "text"
					}
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
