<style>
#main-footer {background-image:url({{ 'repeater-wave.png' | asset_url }});}
#main-footer::before {background-image: url({{ 'icon-logo.svg' | asset_url }});}
</style>
<footer id="main-footer" style="background-image:url({{ 'repeater-wave.png' | asset_url }});">
	{% include 'newsletter-prompt' %}
	<hr>
	<div id="footer-cols">
		{% include 'contact' %}
		{% include 'secondary-menu', menu_handle: 'footer' %}
		{% include 'instagram-showcase' %}
	</div>
  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
