<style>
#main-footer {background-image:url({{ 'repeater-wave.png' | asset_url }});}
#main-footer::before {background-image: url({{ 'icon-logo.svg' | asset_url }});}
</style>
<footer id="main-footer" style="background-image:url({{ 'repeater-wave.png' | asset_url }});">
	{% include 'newsletter-prompt' %}
	<hr>
	<div id="footer-cols">
		{% include 'contact' %}
		{% include 'secondary-menu', menu_handle: section.settings.footer_linklist %}
		{% include 'instagram-showcase' %}
	</div>
	<p id="fine-print">&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved. <a href="http://sheilabuchanandesigns.com" target="_blank">Site design</a></p>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}
