<header id="main-header" data-section-id="{{ section.id }}" data-section-type="header-section" role="banner">
	<section id="top-bar">
    <form id="header-search-form" action="/search" method="get" role="search" class="oneline-form">
      <button type="submit" class="btn">{% include 'icon-search' %}<span class="visuallyhidden">{{ 'general.search.submit' | t }}</span></button>
			<label><span class="visuallyhidden">{{ 'general.search.placeholder' | t }}</span>
				<input type="search"
							 name="q"
							 value="{{ search.terms | escape }}"
							 placeholder="{{ 'general.search.placeholder' | t }}">
      </label>
    </form>
		<nav>
			<ul>
				{% if shop.customer_accounts_enabled %}
					{% if customer %}
						<li>
							{% if customer.first_name != blank %}
								{% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
								{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
							{% else %}
								<a href="/account">{{ 'layout.customer.account' | t }}</a>
							{% endif %}
						</li>
						<li>
							{{ 'layout.customer.log_out' | t | customer_logout_link }}
						</li>
					{% else %}
						<li>
							{{ 'layout.customer.log_in' | t | customer_login_link }}
						</li>
						<li>
							{{ 'layout.customer.create_account' | t | customer_register_link }}
						</li>
					{% endif %}
				{% endif %}
				<li>
					<a href="/cart">
						{{ 'layout.cart.title' | t }}<span class="item-count visuallyhidden">
						({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
						</span>{% include 'icon-cart' %}
					</a>
				</li>
			</ul>
		</nav>
	</section><!-- end #top-bar -->
	<h1 id="logo" itemscope itemtype="http://schema.org/Organization">
		<a href="/" itemprop="url" class="site-logo image-link">
			<img itemprop="logo" src="{{ 'icon-logo.svg' | asset_url }}" alt="{{ shop.name }}">
		</a>
		{% include 'logo-headline' %}
	</h1>
  <nav role="navigation" id="main-nav">
    <ul class="site-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
          <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
            <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul class="site-nav__submenu">
              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
